
.one{
    font-family:Arial, Helvetica, sans-serif;
    color: purple;

}
.two{
    font-family: 'Times New Roman';
    color: blue;
}

.three{
   
   border:dotted 3px grey;
}

.four{
    font-family: fantasy;
    font-weight: bold;
    text-align: center;
    border-radius: 25px;
    background: #c6f4ff;
    padding: 20px;
    width: 200px;
    height: 25px;
 }
 
object{
    object-position: center;
    text-align: center;
    align-items: center;
 }
 .centered {
    position: relative;
    text-align: center;
    color: white;
  }
  
.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

img{
    width:50px;
    height:50px;
    margin:20px

}

.float{
    float: right;
}

.overflow {
    width: 600px;
    height: 50px;
    background-color: rgb(252, 228, 255);
    overflow: scroll;
    padding: 20px;
  }